.group-input-select {
    height: 36px;

    select {
        width: 200px;
        height: 100%;
        padding: 6px;
        outline: none;
        border: 1px solid #d1d1d1;
        border-radius: 8px;
    }
   
}