// your-component.component.scss

.example-container {
    display: flex;
    height: 100vh; // Adjust the height based on your layout requirements
  
    // Style the mat-drawer
    .mat-drawer {
      width: 200px; // Adjust the width based on your preference
      
      .avatar {
        display: flex;
        justify-content: center;
        margin: 40px 0;

        img {
          width: 50%;
          border-radius: 50%;
        }
      }
    }
  
    // Style the content area
    .mat-drawer-content {
      width: 100%;
      padding: 16px; // Add padding to the content area
      
      .navbar {
        width: 100%;
        margin-bottom: 16px;
      }
    }
  }
  