@import '../../../../../styles.scss';

.example-container {
    display: flex;
    height: 100vh;
    
    .mat-drawer {
      width: 200px;
      background: #000;
      
      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        gap: 10px;
        margin: 40px 0;

        .title {
          font-size: 22px;
          font-weight: 600;
        }

        .logo {
          width: 36px;
        }
      }

      .list-container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .section {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .list-item {
            display: flex;
            padding: 10px;
            justify-content: left;
            align-items: center;
            padding-left: 25%;
            gap: 10px;
            cursor: pointer;
  
            .mat-icon,a {
              color: #dcd9d9;
              text-decoration: none;
            }
          }

          .list-item.active {
            .mat-icon,a {
              color: #fff;
              font-weight: 600;
            }
          }
        }
      }
    }
  
    // Style the content area
    .mat-drawer-content {
      width: 100%;
      // padding: 0 40px; 
      background: $gray-primary;
    }
  }
  