<mat-drawer-container class="example-container" hasBackdrop="false" >
    <!-- sidebar -->
    <mat-drawer #drawer mode="side" opened="true">
         <div class="header">
            <img class="logo" src="assets/logos/logo.svg" alt="">
            <p class="title">dev shop</p>
         </div>
        <div class="list-container">
            <div class="section">
                <div class="list-item" routerLinkActive="active" routerLink="dashboard" >
                    <mat-icon>dashboard</mat-icon>
                    <a>Dashboard</a>
                </div>
                <div class="list-item" routerLinkActive="active" routerLink="products"  >
                    <mat-icon>loyalty</mat-icon>
                    <a>Products</a>
                </div>
                <div class="list-item" routerLinkActive="active" routerLink="users" >
                    <mat-icon>people</mat-icon>
                    <a>Users</a>
                </div>
            </div>
            <div class="section">
                <div class="list-item" routerLinkActive="active" routerLink="dashboard"  >
                    <mat-icon>settings</mat-icon>
                    <a>Settings</a>
                </div>
                <div class="list-item" routerLinkActive="active" routerLink="products"  >
                    <mat-icon>info</mat-icon>
                    <a>Help</a>
                </div>
            </div>
        </div>
    </mat-drawer>
    <!-- main -->
    <mat-drawer-content>
        <!-- navbar -->
        <!-- <button mat-raised-button (click)="drawer.toggle()"><mat-icon>reorder</mat-icon></button> -->
        <app-navbar  (toggleDrawerEvent)="drawer.toggle()"></app-navbar>
        <!-- page -->
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>