
<div class="create-container">
    <div class="header">
      <p class="title">Update Product</p>
    </div>
    <form [formGroup]="prodForm">
      <!-- section-left -->
      <div class="section-left">
        <div class="input-group">
          <label for="Name">Product Name</label>
          <div class="input-custom">
            <app-input name="Name" type="text" [formControl]="prodForm.get('Name')"></app-input>
            <small *ngIf="isSubmit && prodForm.get('Name').invalid && prodForm.get('Name').errors?.required" class="error-message">
              required 
            </small>
          </div>
        </div>
        <div class="input-group">
          <label for="Description">Description</label>
          <div class="input-custom">
            <app-input name="Description" type="area" [row]="9" [formControl]="prodForm.get('Description')"></app-input>
            <small *ngIf="isSubmit && prodForm.get('Description').invalid && prodForm.get('Description').errors?.required" class="error-message">
              required 
            </small>
          </div>
        </div>
        <div class="input-group">
          <label for="Price">Price</label>
          <div class="input-custom">
            <app-input name="Price" type="number" [formControl]="prodForm.get('Price')"></app-input>
            <small *ngIf="isSubmit && prodForm.get('Price').invalid && prodForm.get('Price').errors?.required" class="error-message">
              required
            </small>
          </div>
        </div>
        <div class="input-group">
          <label for="Stock">Stock</label>
          <div class="input-custom">
            <app-input name="Stock" type="number" [formControl]="prodForm.get('Stock')"></app-input>
            <small *ngIf="isSubmit && prodForm.get('Stock').invalid && prodForm.get('Stock').errors?.required" class="error-message">
              required
            </small>
          </div>
        </div>
        <div class="input-group">
          <label for="Role">Status</label>
          <div class="input-custom">
            <mat-slide-toggle color="#ff0000"[checked]="isActive" (change)="onToggleChange($event)">{{isActive ?'Active':'Disable'}}</mat-slide-toggle>
          </div>
        </div>
      </div>
      <!-- section-right -->
      <div class="section-right">
        <div class="input-group">
          <div class="container">
            <div class="upload-area" *ngIf="!selectedFile_preview && !prodForm.get('Img').value">
              <p>Drag and drop your files.</p>
              <input type="file" name="file" id="file" (change)="onFileChange($event)" accept="image/jpeg,image/png">
              <label for="file">
                <span>upload</span>
              </label>
            </div>
            <div class="preview-area" *ngIf="selectedFile_preview || prodForm.get('Img').value">
              <img [src]="selectedFile_preview ?selectedFile_preview :apiUrl+imageUrl+prodForm.get('Img').value" alt="รูปภาพตัวอย่าง">
              <mat-icon class="icon-close" (click)="clearProfile()">close</mat-icon>
            </div>
          </div>
          <div class="size-container">
            <div class="size-item" *ngFor="let size of prodForm.get('Sizes').value.controls; let i = index">
              <p>EU {{ size.get('Name').value }}</p>
              <app-input type="number" [formControl]="size.get('Amount')" (input)="onAmountChange()"></app-input>
            </div>            
          </div>
        </div>
      </div>
    </form>
    <div class="footer">
      <button class="btn-save" (click)="onSubmit()" >Update</button>
      <button class="btn-close" (click)="onClose()">Close</button>
  </div>
  </div>
