@import '../../../../../styles.scss';

.product-container {
    display: flex;
    width: 100%;

    .section-left {
        width: 30%;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .btn-new {
            cursor: pointer;
            // display: flex;
            padding: 10px 20px;
            border: 1px solid $purple-primary;
            border-radius: 4px;
            background-color: $purple-primary;
            transition: all 0.2s ease-in-out;
        }

    }

    .section-right {
        width: 70%;
        padding: 0 40px;
        background: #fff;

        .table {

            img {
                width: 260px; 
                height: 60px; 
                border-radius: 4px; 
                object-fit: cover; 
                margin: 8px;
            }

            .status {
                display: inline-block;
                // justify-content: center;
                padding: 4px;
                border-radius: 4px;
            }
            .status-active {
                color: $green-primary;
                background: $green-secondary;
            }
            .status-inactive {
                color: $red-primary;
                background: $red-secondary;
            }

            .management {
                display: flex;
                align-items: center;
                gap: 10px;

                .btn-detail {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    padding: 6px 12px;
                    border-radius: 4px;
                    cursor: pointer;
                    background: $purple-primary;
                }

                .btn-delete {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    padding: 6px 12px;
                    border-radius: 4px;
                    cursor: pointer;
                    border: 1px solid $gray-secondary;
                }
            }
        }
    }
}


hr {
    border: 1px solid #edeff0
}