@import '../../../styles.scss';

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 36px;

    input {
        width: 100%;
        height: 100%;
        padding: 6px;
        outline: none;
        border: 1px solid #d1d1d1;
        border-radius: 4px;
    }

    .disabled {
        background: $gray-secondary;
    }

    .error-message {
        color: red;
        // margin-top: 5px;
      }
}

.area {
    display: flex;
    flex-direction: column;
    width: 100%;

    textarea {
        width: 100%;
        height: 100%;
        padding: 6px;
        outline: none;
        border: 1px solid #d1d1d1;
        border-radius: 4px;
    }
    .error-message {
        color: red;
        // margin-top: 5px;
      }
}