/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Urbanist', sans-serif;
}

html,body {
    font-family: 'Urbanist', sans-serif;
}

$gray-primary: #fafafa;
$gray-secondary: #dcd9d9;

$purple-primary: #C8B8E1;
$purple-secondary: #b296df;

$green-primary: #07a44b;
$green-secondary: #07a44b2b;

$red-primary: #ed0b0b;
$red-secondary: #ed0b0b1c;

